<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <a href="/error">Test Error</a>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>

  <span>Ohene Kwakye Emmanuel</span>
</footer>