<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ohene Emmanuel Kwakye">
    <meta name="description" content="CSE 340 Application built to increase my skills and knowledge of web development">
    <meta property="og:title" content="CSE 340 App">
    <meta property="og:description" content="CSE 340 App">
    <meta property="og:url" content="https://cse340project-4oqc.onrender.com">
    <meta property="og:image" content="/images/site/icon.png">
    <meta property="og:type" content="website"> 
    <meta property="og:locale" content="en_US">
    <title><%= title %>| CSE 340 App </title>
    <link rel="icon" href="/images/site/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/style-large.css">

</head>